.example-card {
    max-width: 600px;
    display: inline-block;
    margin:10px 40px;
}
.example-header-image {
    background-image: url('../../../../assets/img/haha.jpeg');
    background-size: cover;
}
.mat-mdc-card-avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    margin-right: 20px;
    border-radius: 10%;
    flex-shrink: 0;
}
.mat-mdc-card-title{
    margin-bottom: 20px;
    padding: 0 !important;
}
.mat-mdc-card-subtitle{
    width: 260px;
    margin-bottom: 10px;
    padding: 0 !important;
    span{
        display: inline-block;
        width: 130px;
    }
}
