<mat-card class="example-card" *ngFor="let data of testDatas">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{data.chinese_name}}</mat-card-title>
        <mat-card-subtitle>
            属性：{{data.type}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            特性：{{data.ability}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            身高（m）：{{data.height}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            体重（kg）：{{data.weight}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="data.evolutionaryHierarchy">
            {{data.chinese_name}}--{{data.evolutionaryHierarchy}}级-->{{data.evolution}}
        </p>
        <p *ngIf="!data.evolutionaryHierarchy">
            无法进化
        </p>
    </mat-card-content>
</mat-card>